@{
    ViewData["Title"] = "Home Page";
}

@section css{
    <link rel="stylesheet" href="~/css/homePage.css"  />
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Raleway:wght@400;500;900&family=Roboto:wght@900&display=swap" rel="stylesheet">

<body >
    <div  class="col-lg-12 ">
         <div id="topo" class="row">
            <section class="col-md-6">
                <h1>
                     <span>Controle de estoque eficiente para sua empresa</span>
                </h1>
                <p>
                    <span class="text-muted">
                            Com o sistema de gestão I-Estoque, você faz o controle de estoque de seus produtos de forma simples.
                            Garanta o total controle do seu negócio, emitindo relatórios, gerenciando seus clientes e fornecedores.
                            Tenha um sistema de controle de estoque completo com diversas funcionalidades para o seu negócio. Confira!
                    </span>
                </p>
            </section>
            <section class="col-md-6">
                <img src="~/imagens/Homepage/imgHome.svg" class="img-fluid" alt="...">
            </section>
        </div>

        <div id="textoMeio" class="col-md-12  p-5">
                <h2>Venha ver como é fácil simplificar seu controle de estoque <span>com o I-Estoque </span></h2>
                <p>
                    <span class="text-muted">
                       Com o sistema de controle de estoque I-Estoque, você pode realizar a gestão online do seu estoque como a entrada e saída de produtos e emissão de relatórios.
                       Descomplique: utilize um sistema de controle de estoque para ir mais longe!
                    </span>
                </p>
        </div>   
    </div>

    <main>
        <div id="cardsDiv" class="row col-md-12 p-5 ml-3">
            <div class="col-md-6 cards">
              <div>
                  <i class="icones cardIcon fa-solid fa-truck fa-xl"></i>
              </div>
              <div>
                  <h4><span>Cadastre</span>fornecedores</h4>
                  <p>
                      <span class="text-muted">
                          Guarde os dados de seus fornecedores para otimizar o atendimento e realizar uma emissão agilizada de relatórios.
                      </span>
                  </p>
              </div>
            </div>

            <div class="col-md-5 cards">
                <div>
                        <i class="icones cardIcon fa-solid fa-people-group fa-xl"></i>
                </div>
                <div>
                    <h4><span>Registre</span>clientes</h4>
                    <p>
                        <span class="text-muted">
                            Gerencie sua lista de clientes com total segurança e praticidade.
                        </span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 cards">
                <div>
                        <i class="icones cardIcon fa-brands fa-product-hunt fa-xl"></i>
                </div>
                <div>
                    <h4><span>Gerencie</span>seus produtos</h4>
                    <p>
                        <span class="text-muted">
                            Tenha o controle total sobre seus produtos, emitindo relatórios e tabelas em excel.
                        </span>
                    </p>
                </div>
            </div>

            <div class="col-md-5 cards ">
                <div>
                        <i class="icones cardIcon fa-solid fa-file-pdf fa-xl"></i>
                </div>
                <div>
                    <h4><span>Emita</span>relatórios</h4>
                    <p>
                        <span class="text-muted">
                            Com o I-Estoque você pode gerar relatórios de forma rápida e eficiente.
                        </span>
                    </p>
                </div>
            </div>

        </div>
    </main>
</body>