body {
    overflow-x:scroll; 
}



.endereco {
    display: flex;
}

.box-pesquisa {
    position: relative;

    -webkit-box-shadow: 0px 1px 5px 1px rgba(222,222,222,1);
    -moz-box-shadow: 0px 1px 5px 1px rgba(222,222,222,1);
    box-shadow: 0px 1px 5px 1px rgba(222,222,222,1);

    border: none;
    border-radius: 5px 5px 5px 5px;
    border-right: none;

    right:5px;
    background: #fff;
    padding: 10px;
    height: 32px;
}

input:focus {
    outline: 0;
}

button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

form{
    margin-right:64px;
}


.section-pesquisa{
    display:flex;
    justify-content:space-between;
}


.botao-pesquisa {
    position: absolute;
    background: #fff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    padding: 0.28rem;
    right:15px;
    padding-left: 5px;
    background-color: #007bff;
    color: white;
}
.botao-pesquisa > span{
    padding-right:1px;
}

.botao-pesquisa:hover{
    color:white;
    background-color:#0f67c4;
}

.ultimoTh {
    width: 90px;
}

.icone-editar,
.icone-deletar,
.icone-detalhes {
    margin-left:2px;
}

.icone-excel {
    color: forestgreen;
    margin: 0px 0px 0px 22px;
    transition:0.2s ease;
}

.icone-excel:hover{
    color:#10c134;
}


.icone-editar {
    color: #494949;
    transition: 0.2s ease;
}

.icone-editar:hover {
    color: #1b88ef;
}

.icone-detalhes {
    color: #494949;
    transition: 0.2s ease;
}

.icone-detalhes:hover {
    color: #59aa8d;
}

.icone-deletar {
    color: #494949;
    transition: 0.2s ease;
}

.icone-deletar:hover {
    color: red;
}


.botoes-tabelas {
    text-align: center;
    font-weight: 600;
    padding: 2px;
    color: black;
    font-size: small;
    border: 0.1px solid;
    border-radius: 5px;
    transition: 0.4s ease;
    text-decoration: none;
}

.botoes-tabelas:hover {
    background-color: #54B435;
    color: white;
}

.botoes-tabelas > span {
    padding: 5px;
}




@media (max-width: 877px) {
    .botoes-tabelas {
        display:block;
        padding: 2px;
        color: black;
        font-size: small;
        border: 0.1px solid;
        border-radius: 5px;
        transition: 0.4s ease;
        text-decoration: none;
    }
    .btnSection a{
        margin:2px;
    }

        .botoes-tabelas:hover {
            background-color: #0d6efd;
            color: white;
        }

        .botoes-tabelas > span {
            padding: 5px;
        }

}

@media (max-width: 767px){
    .icone-pesquisa {
        padding: 6px;
        margin-right: 5px;
        color: #286793;
    }

}
